@font-face {
  font-family: "Panchang";
  src:
    url("/font/Panchang-Variable.woff2") format("woff2"),
    url("/font/Panchang-Variable.woff") format("woff"),
    url("/font/Panchang-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --bg: #0f0f14;
  --card: #1a1a22;
  --text: #f5f5f7;
  --muted: #a0a0b0;

  --accent: #06b649; /* pink */
  --accent2: #254632; /* purple */
  --accent3: #421923; /* red */

  --border: rgba(255, 255, 255, 0.06);
}

body {
  background: radial-gradient(circle at top, #1a1a22, #0f0f14);
  color: var(--text);
  font-family: "Panchang", sans-serif;
  margin: 0;
}

button,
a {
  font-family: "Panchang", sans-serif;
  font-weight: 300;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;

  background: rgba(20, 20, 30, 0.6);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--border);
}

.logo {
  font-weight: 600;
  color: var(--accent);
}

.links a {
  color: var(--text);
  opacity: 0.8;
  transition: 0.2s;
}

.links a:hover {
  color: var(--accent2);
  opacity: 1;
}
